%h1= Market.model_name.human.pluralize

.row
  .col-xs-offset-6.col-xs-6.form-inline.text-right.mb-10
    .form-group
      = link_to t('helpers.buttons.new'),
        new_market_path,
        class: 'btn btn-default'

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Adress
      %th.thin-column
      %th.thin-column

  %tbody
    - @markets.each do |market|
      %tr
        %td= link_to market.name, market
        %td= market.description
        %td= market.adress
        %td.text-center
          = link_to '', edit_market_path(market),
            class: 'btn btn-default glyphicon glyphicon-edit'
        %td.text-center
          = link_to '', market, method: :delete,
            class: 'btn-danger btn btn-default glyphicon glyphicon-trash'

