%h1= Product.model_name.human.pluralize

.row
  .col-xs-offset-6.col-xs-6.form-inline.text-right.mb-10
    .form-group
      = link_to t('helpers.buttons.new'),
        new_product_path,
        class: 'btn btn-default'

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Manufacturer
      %th Price
      %th.thin-column
      %th.thin-column

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td= product.description
        %td= product.manufacturer
        %td= price(product)
        %td= link_to '', edit_product_path(product),
            class: 'btn btn-default glyphicon glyphicon-edit'
        %td= link_to '', product, method: :delete,
            class: 'btn-danger btn btn-default glyphicon glyphicon-trash'
